git+https://github.com/openai/whisper.git
# git+https://github.com/m-bain/whisperx.git
transformers>=4.30.0
tqdm>=4.66.3
pytube==12.1.2
sentencepiece==0.1.97

# moviepy==1.0.3
# ffpb==0.4.1
pysrt
pythumb
yt-dlp
googletrans==4.0.0rc1
openai
youtube-transcript-api
faster-whisper
ujson
python-dotenv