certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.1.0
cmake==3.25.2
decorator==4.4.2
ffmpeg-python==0.2.0
ffpb==0.4.1
filelock==3.9.0
future==0.18.3
huggingface-hub==0.13.0
idna==3.4
imageio==2.26.1
imageio-ffmpeg==0.4.8
lit==15.0.7
llvmlite==0.39.1
more-itertools==9.1.0
moviepy==1.0.3
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
openai-whisper==20230308
packaging==23.0
Pillow==9.4.0
proglog==0.1.10
pytube==12.1.2
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
semantic-version==2.10.0
sentencepiece==0.1.97
setuptools-rust==1.5.2
tokenizers==0.13.2
torch==1.13.1
tqdm==4.65.0
transformers==4.26.1
triton==2.0.0
typing_extensions==4.5.0
urllib3==1.26.14
